.app {
  margin: 0 auto;
  max-width: 1366px;
  /* display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

  grid-column-start: 3;
  grid-column-end: 4; */
}


