.header {
  background-color: #0064EB;
  height: 9.375vh;
  max-width: 1366px;
  display: grid;
  grid-template-columns: 3% 3% 2% 37% 45%;
  grid-template-rows: 22.2% 55.6% 22.2%;
}

.logo {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
    
.search-form {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border: none;
  border-radius: 0.25rem;
}
    